:root {
    --primary: #A7D7E7;
    --secondary: #0B1D2A;
    --accent1: #F5F9FB;
    --accent2: #7A8C96;
    --highlight: #2CA5A9;
    --call-to-action: #FF6B35;

    --color-primary-light: #D6EBF3;
    --color-secondary-dark: #071219;
    --active: #FFFFFF33;
    --primary-text: 'Inter', sans-serif;
}


* {
    padding: 0;
    margin: 0;
    
}

body {
    background-color: var(--background);
    font-family: var(--primary-text);
    color: var(--secondary);
}

header {
    display: grid;
    grid-template-columns: 75px auto 50px;
    align-items: center;
    text-align: center;
    padding: 10px;
    background-color: var(--surface-and-cards);
}

header img {
    width: 75px;
}

nav {
    margin-bottom: 10px;
}

#nav-button {
    cursor: pointer;
    background: none;
    border: none;
    color: var(--primary-text);

}

#nav-button::before {
    content: '☰';
    font-size: x-large;
    
}

#nav-button.open::before {
    content: 'X';
    font-size: x-large;
}

ul.menu-links {
    display: none;
}

ul.menu-links.open {
    display: block;
}

ul.menu-links {
    
    text-align: center;
    font-size: x-large;
    list-style-type: none;
}

ul.menu-links li {
    padding: 5px;
}

ul.menu-links a {
    text-decoration: none;
    display: block;
    color: var(--accent-color);
}

ul.menu-links li:hover {
    background-color: var(--highlight);
    color: var(--accent1);
}

li.active {
    background-color: var(--highlight);
    color: var(--accent1);
}

#hero {
    width: 100%;
    
}

h2 {
    text-align: center;
}
h1, h2, h3 {
    color: var(--primary-text);
}

#list-button img, #grid-button img {
    width: 40px;
    
}
#list-button, #grid-button {
    border: none;
    background-color: var(--background);
    
}

#toggle-buttons {
    text-align: center;
    margin: 10px;
}


#business-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    text-align: center;
    justify-content: center;
    gap: 15px;
    
}

.grid {
    border: 2px solid var(--highlight);
    border-radius: 5px;
}

.grid img {
    width: 80%;
    max-width: 300px;
    
}

.list img {
    display: none;
}

#hero-container {
    position: relative;
}    

#call-to-action {
    position: absolute;
    background-color: var(--accent1);
    border: 2px solid var(--accent2);
    border-radius: 5px;
    font-size: larger;
    padding: 3px;
    bottom: 10px;
    right: 10px;
}

#join-instruction {
    text-align: center;
    margin: 20px;

}

#row-one {
    display: flex;
    flex-wrap: wrap;
}

#events {
    flex: 2;
    min-width: 320px;
    justify-content: center;
    align-items: center;
}

#current-weather {
    flex: 1;
    margin: 50px;
    min-width: 300px;
}

#weather-forecast {
    flex: 1;
    min-width: 300px;
}

dialog {
    margin: auto;
    width: 300px;
}
dialog button {
    float: right;
}

form  {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    
    
}

form * {
    width: 400px;
    max-width: 80%;
    text-align: center;
    
}

form input {
    height: 30px;
}

#business-cards {
    text-align: center;
    
}

#business-cards div {
    width: 60%;
    padding: 20px;
    border: 2px solid var(--highlight);
    border-radius: 5px;
    margin: 20px auto;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
    
}

#business-cards > :nth-child(1) {
    animation-name: fadeIn;
    animation-duration: 2s;
}

#business-cards > :nth-child(2) {
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-delay: 1s;
}

#business-cards > :nth-child(3) {
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-delay: 2s;
}

#business-cards > :nth-child(4) {
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-delay: 3s;
}

footer {

    text-align: center;
    color: var(--secondary-text);
}